#aboutsca1{
    height: 550px;
    width:auto;
   
   background-image: url(https://i.ibb.co/mqc4Grd/abt-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-repeat: no-repeat;
}
#head1{
    height: 100px;
    width:50%;
    margin-top:16;
    margin-left:3%;

    

}
#head1 >img {
    height: 100px;
    width:100%;
}

#bt {
  
    height: 50px;
    width: 10%;
    margin-top: 4%;
    margin-left: 48%;
}
#newpic {
    box-shadow: 1px 1px 14px rgba(0, 0, 0, 0.76);
    height: 329px;
    width: 27%;
   
    float: left;
    margin-left: 5%;
}
#newpic:hover{
    transform: scale(1.1);
}

.course{
 height: 200px;
 width:80%;
 border:1px solid black;
}
#newpic>a>img {
    height: 327px;
    width: 100%;
} 

.name {
    margin-left: 24%;
    height: 50px;
    width: 70%;
    margin-top: 14%;
    float: left;
    color: grey;
}
.row{
    width:100%;
}


.pic >a>img :hover{
    transform: scale(1.1);
}
#cardtile{
    height: 100px;
    width: 30%;
    border: 1px solid black;
    float: left;
}

