body{
    margin: auto;
}

.carousel {
 
    height: 600px;
}
.carousel-item > img{
    height: 100%;
}
.navbar-brand > img {
    vertical-align: middle;
    width: 9%;
}
.navbar-light .navbar-brand {
    color: rgb(235 229 229 / 90%);
}
#coupn{
    height: 280px;
    width:48%;
    margin-left: 27%;
    margin-top: 10%;
    z-index: 100;
    background-image: url(./images/c1.png);
    background-size: cover;
    position: absolute;
    background-repeat: no-repeat;
    
}
#aboutsca{
    height: 500px;
    width:auto;
    
    background-image: url(./images/simple-abstract-dark-grey-wavy-background-with-overlayed-sheets-of-paper-modern-corporate-desing-vector.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-repeat: no-repeat;
}

#aboutsca1{
    height: 550px;
    width:auto;
   
   background-image: url(./images/abt-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-repeat: no-repeat;
}
#head1{
    height: 100px;
    width:50%;
    margin-top:16;
    margin-left:3%;

    

}
#head1 >img {
    height: 100px;
    width:100%;
}
#course{
    height: 320px;
    width: 94%;
   
    margin-left: 3%;
   
    color:white
}
#bt {
  
    height: 50px;
    width: 10%;
    margin-top: 4%;
    margin-left: 48%;
}
.pic {
    height: 225px;
    width: 21%;
    margin-top: 3%;
    margin-left: 10%;
    box-shadow: 10px 20px 10px grey;
    float: left;
}
.pic:hover{
    transform: scale(1.1);
}
.name {
    height: 50px;
    width: 70%;
    margin-top: 14%;
    margin-left: 26%;
    float: left;
    
    color: grey;
}


.pic > img {
    height: 222px;
    width: 100%;
}
.pic >img :hover{
    transform: scale(1.1);
}
#coupn >.btn{
    margin-left: 97%;
}
.geo{
    margin-left: 52%;
    font-style: italic;
    font-size: 95%;
    color:gray

}
.geo > img {
    height: 26px;
    width: 31%;
}


.card-body {
    margin-top: 5%;
}
#container1{
    height:390px;
}
    
#maindiv{
    height: 0px;
    width: auto;

    
   
}
.carousel-caption> h1 {
    font-size: 3.5rem;
}
#vedic > .card {
    margin-left: 37%;
    margin-top: 3%;
}
#box{width:3%;
    
    height: 100px;
}
#book{
    margin-left: 39%;
}
#book >.btn-primary {
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
    margin-left: 3%;
    margin-top: 5%;
}

#testimonials{
    height: 620px;
    width: auto;
 
}
#font1{
    height: 509px;
    width: auto;
   
    margin-top: 2%;
    background-color:#171f47;


}
#font2{
    height: 485px;
    width: auto;

    background-color: #0f1328;
    
    
}
#font3{
    height: 485px;
    width: auto;
    
    background-color: #fdbc00;
}
#card1{
    height: 397px;
    width: 39%;
   
    margin-left: 4%;
    margin-top: 2%;
    float: left;   

}
#card1 >img{

    height: 428px;
}
#card1 >img:hover{
    transform: scale(1.1);
}
#card2 {
    height: 347px;
    width: 32%;
    margin-left: 13%;
    margin-top: 2%;
    float: left;
    background-color: white;
    box-shadow: 5px 5px 5px black;
}
#card2 > img {
        height: 271px;
        width: 100%;

}
#card2:hover{
    transform: scale(1.1);
}

#card2sub{

  
        width: 100%;
        height: 55px;
     
        margin-top:1%;
      
    }

#heading1 {
    height: 50px;
    width: 70%;
    margin-left: 15%;
    margin-top: 1%;
   
    color: #d5d9bf;
    text-align: center;
    font-style: italic;
}
#test2 {
    height: 420px;
    width: 83%;
    margin-left: 107px;
    margin-top: 1%;
  
}
 .review >.bi  {
    color: #ffffff70;
    font-size: 570%;
}
.review >h6 {
    font-size: 13px;
}
.review {
    height: 196px;
    width: 40%;
    margin-left: 64px;
    margin-top: 1%;
    
    float: left;
}
.review:hover{
    transform: scale(1.1);
}

.test{
    width:auto;
    height: 600px;
    
    
    background-image: url(./images/Untitled\ design.png);
    background-size: 100% 600px;
    background-repeat: no-repeat;
   
}

    #down {
        color: whitesmoke;
        margin-top: 2%;
        margin-left: 47%;
        font-size: 233%;
    }



#more{
    margin-left: 3%;
}
.image1 {
    width: 44%;
    height: 357px;
    float: left;
    margin-left: 4%;
    margin-top: 4%;
    color: white;
   
   
   
}
.image1:hover{
    transform: scale(1.1);
}
.image3 {
    width: 44%;
    height: 495px;
    float: left;
    margin-left: 4%;
    margin-top: 1%;
   
}
.image > img{
    width: 100%;
    height: 351px;
    float: left;
    margin-left: 4%;
    margin-top: 1%;
}


#font{
    margin-top: 2%;
    height: 71px;
    width: 38%;
    margin-left: 40%;
}

.image2 {
    width: 37%;
    height: 357px;
    float: left;
    margin-left: 8%;
    margin-top: 1%;
    color: white;
}
.image2 > img{
    width:100%;
    
}

#sca {
   
    color: whitesmoke;
    width: 44%;
    height: 452px;
    float: left;
    margin-left: 7%;
    margin-top: 8%;
    margin-top: 4%;
}
#sca:hover{
    transform: scale(1.1);
}
.image1 > img{
    width: 100%;
    height: 357px;
}

#who{

    color: whitesmoke;
    width: 100%;
    height: 452px;
    float: left;
    background-color: #fdbc00;
 
  
  
    margin-top: 8%;
    margin-top: 4%;
}
#one{background-color: #fdbc00;
    width: 51%;
    height: 452px;
    float: left;
   
  
}
#text {
    width: 69%;
    height: 407px;
    float: left;
    margin-left: 37%;
    margin-top: 13%;
    color: #0f1328;
}
#text:hover{
    transform: scale(1.1);
}
#two{
   
    width: 49%;
    height: 452px;
    float: left;
   
  
}

#two > img{
    width:100%;
    height: 452px;
    
}
h1:hover{
    transform: scale(1.1);
}
#two >img:hover{
    transform: scale(1.1);
}

#b1 {
    margin-left: 8%;
    margin-top: 28%;
}
#b1>.btn-primary {
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
    margin-left: 5%;
}
#location{
    height: 500px;
width: auto;

background-color: #181d34;

}
.map {
    margin-top: 3%;
    margin-left: 6%;
    height: 400px;
    width: 40%;
    float: left;
  
}
.map:hover{
    transform: scale(1.1);
}
.mb-3>.form-label {
    margin-bottom: 0.5rem;
    color: white;
}
#social{
    margin-top:1%;
    height:30px;
    width: auto;
    
    background-color: yellow;

}
#social2{
    height:30px;
    width: auto;
    background-color: #181d34;
  

}

.social1 {
    margin-top: 2%;
    margin-left: 38%;
    font-size: 144%;
}

.social1 >i{
    margin-left:5%;
}
#social2 > h5{
    margin-left:35%;
    color:white;
}



footer{
    height: 300px;
width: auto;


}
#f1{
    height:50px;
    width:auto;
   
}
#f2{ color: white;
    background-color: black;
    height:218px;
    width:auto;
  
}
.fm{margin-top: 1%;
    margin-left: 6%;
    height: 200px;
    width: 25%;
    float: left;
    border: 1px solid black;}

@media screen and (max-width:944px){
    body{
        background-color: rgb(139, 114, 114);
    }
    .image3 >img {
        width: 85%;
      
        vertical-align: middle;
        height: 72%;
        margin-top: 28%;
    }
    #two > img {
        width: 100%;
        height: 452px;
        margin-top: 0px;
    }
}
@media screen and (max-width:1020px){
    body{
        background-color: rgb(139, 114, 114);
    }
}
@media screen and (max-width:966px){
    body{
        background-color: rgb(139, 114, 114);
    }
    .image3>img {
        width: 99%;
       
    }
    .image3 {
        width: 46%;
        height: 495px;
        float: left;
        margin-left: 4%;
        margin-top: 12%;
    }
}
@media screen and (max-width:1153px){
    body{
        background-color: rgb(42, 24, 83);
    }
}
    @media screen and (max-width:1008px){
        body{
            background-color: rgb(83, 46, 24);
        }

    }
    @media screen and (max-width:724px){
        body{
            background-color: rgb(24, 83, 58);
        }
    }