#aboutsca{
    height: 400px;
    width:auto;
    
    background-image: url(https://i.ibb.co/vQwLP2G/simple-abstract-dark-grey-wavy-background-with-overlayed-sheets-of-paper-modern-corporate-desing-vec.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-repeat: no-repeat;
}


#head1{
    height: 100px;
    width:50%;
    margin-top:16;
    margin-left:3%;

    

}